@import url("https://use.typekit.net/efa7ivj.css");

$cursiveFont: 'dream-big-wide', cursive;
$sansSerifFont: 'arboria', sans-serif;
$cream: rgb(250, 246, 219);
$beigeAccent: rgb(217, 195, 162);
$blueAccent: rgb(0, 90, 112);
$forestGreenPrimary: rgb(0,88,42);
$activeColor: rgb(255, 255, 255);

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-self: $justify;
    align-items: $align;
}

.lightbox-overlay {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.lightbox {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    background-color: rgba(0,0,0,0.7);
    outline: none;
    @include flex(column, center, center);
    z-index: 10001;
    margin: auto;

    &-content {
        @include flex(column, center, center);
        position: relative;
        //object-fit: contain !important;

        button {
            cursor: pointer;
        }

        .lightbox-close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: none;
            border: none;
            font-size: 2.5rem;
            color: rgba(250, 246, 219, 0.7);
            transition: transform 3s ease;

            &:hover {
                color: $cream;
                transform: scale(1.25);
            }
        }

        .lightbox-prev,
        .lightbox-next {
            background: none;
            border: none;
            font-size: 2.5rem;
            color: rgba(250, 246, 219, 0.7);
            cursor: pointer;
            position: absolute;
            top: 50%;

            &:hover {
                color: $cream;
                transform: scale(1.25); 
                transition: transform 1s ease;
            }
        }

        .lightbox-prev {
            left: 1rem;
        }

        .lightbox-next {
            right: 1rem;
        }

        .lightbox-img {
            max-width: 100%;
            max-height: 100%;
            @include flex(column, center, center);
            transform-origin: center;
            object-fit: contain !important;
            position: relative;

            img {
                max-width: 95vw;
                max-height: 95vh;
                object-fit: contain !important;
                //width: auto;
                //height: auto;
                //margin: auto;
            }
        }

        .lightbox-caption {
            position: absolute;
            bottom: 2rem;
            right: 1rem;
            margin-top: 10px;
            background-color: rgba(0, 0, 0, 0.4);
            color: $cream;
            padding: 0.5rem;
            border-radius: 15px;
            font-family: $sansSerifFont;
            font-weight: 500;
            font-size: 1rem;
            max-width: calc(100% - 2rem);
            z-index: 10002;
        }
    }
}